

<div class="footer a-lot-more-margin-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h4><i class="fa fa-lock"></i> Secure</h4>

                <p class="footer-text">Carrier class server, secure payments and validations</p>
            </div>

            <div class="col-lg-3">
                <h4><i class="fa fa-mobile"></i> Mobile</h4>

                <p class="footer-text">Truly mobile, works on all mobile phones in the world, smart or dumb</p>
            </div>

            <div class="col-lg-3">

                <h4><i class="fa fa-ticket"></i> Ticketing</h4>

                <p class="footer-text">Real-time ordering with practically any kind of payment
            </div>

            <div class="col-lg-3">
                <h4><i class="fa fa-shield"></i> Zero Fraud</h4>

                <p class="footer-text">The Mobill Service Platform creates unique tickets and coupons, impossible to fake.</p>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-dismissible alert-info text-center bottom-fixed" ng-if="!acceptedCookies">
    <button type="button" class="close" data-dismiss="alert" ng-click="acceptCookies()">×</button>
    <strong><i class="fa fa-warning"></i> Heads up!</strong> Using this site, you approve using cookies with all the dangers that includes bla bla.
</div>