<div ng-if="!isAdmin()">
    <div ng-include="'parts/401.html'"></div>
</div>

<div ng-init="init()" ng-if="isAdmin()">
    <section class="section users">
        <div class="container">
            <div class="col-sm-12 text-center white">

                <h3 class="white wow slideInLeft"><i class="fa fa-users fa-4x"></i></h3>

                <h3 class="white wow slideInUp">Here's a list of all the users on the site. Remove, approve guests and promote to
                    admin.</h3>
            </div>
            <div class="col-sm-12 more-margin-top wow slideInUp" ng-if="isAdmin()">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-body">
                            <h4><label>Search: <input ng-model="filter"></label></h4>
                            <table class="table table-striped table-hover ">
                                <thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Description</th>
                                    <th>Type</th>
                                    <th class="pull-right">Edit</th>
                                </tr>
                                </thead>
                                <tbody ng-repeat="user in users  | filter:filter">
                                <tr id="{{user.id}}viewMode">
                                    <td>{{user.username}}</td>
                                    <td>{{user.description}}</td>
                                    <td>
                                        <select ng-change="saveUser(user)" class="form-control" ng-model="user.type"
                                                ng-options="option for option in userRoles" disabled></select>
                                    </td>
                                    <td class="pull-right">
                                        <button class="btn" theid="{{user.id}}" edit-mode>
                                            <i class="fa fa-pencil"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr id="{{user.id}}editMode" class="hidden">
                                    <td><input class="form-control" ng-model="user.username"></td>
                                    <td><input class="form-control" ng-model="user.description"></td>
                                    <td>
                                        <select class="form-control" ng-model="user.type"
                                                ng-options="option for option in userRoles"></select>
                                    </td>
                                    <td class="pull-right">
                                        <button theid="{{user.id}}" ng-click="saveUser(user)" edit-mode
                                                class="btn">
                                            <i class="fa fa-save"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>